.nav {
    width: 180px;
    margin-top: 45px;
    color: #221f1f;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding-left: 40px;
    
}

.nav__list {
    list-style: none;
    padding: 0;
    margin:0; 
    
}

.nav__item {
    padding-bottom: 32px;
    position: relative;
}


.nav__item:first-child .nav__link:before{
    content: "" ;
    background-image: url('./../../img/sprite.png') ;
    background-position: -96px -10px;
    width: 17px;
    height: 18px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    left: -47px;
    top: -12px;
    opacity: 1;
    transition-duration:0.5s;
}

.nav__item:first-child .nav__link:hover:before{
    content: "" ;
    background-image: url('./../../img/sprite.png') ;
    opacity: 0;
    transition-duration:0.5s;
}

.nav__item:first-child .nav__link:after{
    content: "" ;
    background-image: url('./../../img/sprite.png') ;
    background-position: -96px -48px;
    width: 17px;
    height: 18px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    left: -47px;
    top: -12px;
    opacity: 0;
    transition-duration:0.5s;
}

.nav__item:first-child .nav__link:hover:after{
    content: "" ;
    background-image: url('./../../img/sprite.png') ;
    background-position: -96px -48px;
    width: 17px;
    height: 18px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    left: -47px;
    top: -12px;
    opacity: 1;
    transition-duration:0.5s;
}
.nav__item:nth-child(2) .nav__link:before {
    content: "" ;
    background-image: url('./../../img/sprite.png') ;
    background-position: -10px -48px;   
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    left: -47px;
    top: -12px;
    opacity: 1;
    transition-duration:0.5s;
}

.nav__item:nth-child(2) .nav__link:hover:before {
    content: "" ;
    background-image: url('./../../img/sprite.png') ;
    opacity: 0;
    transition-duration:0.5s;

}

  .nav__item:nth-child(2) .nav__link:after {
    content: "" ;
    background-position: -50px -48px;
    background-image: url('./../../img/sprite.png') ;
    transition-duration:0.5s;
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    left: -47px;
    top: -12px;
    opacity: 0;
  }

  .nav__item:nth-child(2) .nav__link:hover:after {
    content: "" ;
    background-position: -50px -48px; 
    transition-duration:0.5s;
    opacity: 1;
  }
  
  

  .nav__item:last-child .nav__link:before {
    content: "" ;
    background-image: url('./../../img/sprite.png') ;
    background-position: -10px -10px;
    width: 23px;
    height: 18px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    left: -47px;
    top: -12px;
    opacity: 1;

}

 .nav__item:last-child .nav__link:hover:before {
    content: "" ;
    transition-duration:0.5s;
    opacity: 0;
  }

  .nav__item:last-child .nav__link:hover:after {
    content: "" ;
    transition-duration:0.5s;
    opacity: 1; 
  }

  .nav__item:last-child .nav__link:after {
    content: "" ;
    background-image: url('./../../img/sprite.png') ;
    background-position: -53px -10px;
    width: 23px;
    height: 18px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    left: -47px;
    top: -12px;
    opacity: 0;
  }


  

  .nav__link:visited {
    color: #1c5bc3;
 
 }
.nav__link:visited {
   color: #1c5bc3;

}
.nav__link:hover   {
    color: #000000 !important ;
    cursor: pointer;
}
.nav__link--active {
    color:#000000 !important ;
}
.nav__link:visited {
    color: #1c5bc3;
}

.sidebar {
    width:180px;
    display: flex;
    max-height: 1000px;
  
}

